

.App {
  /*text-align: center;*/
  line-height: 1.6;
  font-size: 15px;
  color: #ffffff;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #00a0ff;
  font-family: 'Karla', 'Roboto', 'Arial', sans-serif;
  z-index: 1;
}

.App:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  opacity: 10%;
  border-right: 2000px solid transparent;
  border-bottom: 2000px solid black;
  position: absolute;
  top: 2rem;
  z-index: -1;

}

main {
    flex-grow: 1;
}

.big-header {
    font-size: 3rem;
}

.medium-header {
    font-size: 2rem;
}

.subheader {
    margin: 0;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

.banner {
    position: relative;
}

.cover {
    position: absolute;
    z-index: -1;
    bottom: -100px;
    top: 0;
    object-fit: fill;
}

.banner img {
    width: 100%;
    height: 100%;
}


.my-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-small {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.black-shadow{
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 100px;
    margin-bottom: -40px;
    background-color: #000000;
    flex-grow: 1;
}

.black-shadow > *:first-child {
    transform: translateY(-70px);
    position: relative;
}

.black-shadow.low-shadow{
    margin-top: 260px;
    margin-bottom: -200px;
}

.black-shadow.low-shadow > *:first-child {
    transform: translateY(-230px);
}


/*forms*/
form {
  position: relative;
  background-color: #ffffff;
  color: #ad807d;
}

label {
  /*color: #ad807d;*/
  font-size: 0.7rem;
}

.upper-header, label {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
}

input, select, textarea {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 0;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  padding: 10px 0;
  /*-webkit-box-shadow: inset 0 0 0 50px #fff;*/
  font-size: 1.3rem;
}

.blue-input {
  border-bottom-color: #b1e2ff;
  color: #ffffff;
}
.blue-input::placeholder {
  color: #b1e2ff;
}

.black-input {
    border-bottom: none;
    color: #ffffff;
}
.black-input::placeholder {
    color: #ffffff;
}

.form-body {
  padding: 50px 50px 30px;
}

.form-footer-wrapper{
  padding: 30px 50px;
}

.form-footer {
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.form-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #00a0ff;
  z-index: -1;
}

.custom-file-input {
    display: none;
}
.custom-file-input::-webkit-file-upload-button {
    display: none;
}
.custom-file-input:active {
    outline: 0;
}

.custom-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    /*font: inherit;*/
    cursor: pointer;
    outline: inherit;
}

.custom-button.round-button {
    background: #ffbdb8;
    color: #000000;
    font-weight: 700;
    font-size: 2rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0.5rem;
    position: absolute;
    right: 50px;
    top: -35px;
}

.round-button svg {
    margin-top: -0.2rem;
}

.custom-button.round-button.additional-button {
    background: #7fcfff;
    border: #ffffff solid 3px;
    /*color: #ffffff;*/
    right: 130px;
}

/*icons*/

.triangle {
  width: 0;
  height: 0;
  /*margin-top: 3px;*/
}

.triangle.triangle-right {
  border-top: 0.5em solid transparent;
  border-left: 1em solid ;
  border-bottom: 0.5em solid transparent;
}

.triangle.triangle-left {
  border-top: 0.5em solid transparent;
  border-right: 1em solid;
  border-bottom: 0.5em solid transparent;
}

.underline {
  position: relative;
}

.underline:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 1.7em;
}

.underline.underline-blue:before {
  background-color: #00a0ff;
}

.brown-text {
  color: #ad807d;
}

.blue-text {
  color: #00a0ff;
}

.rose-text {
    color: #ffbdb8;
}

.black-footer {
    background-color: #000000;
    position: relative;
    margin-top: 30px;
}

.black-link a {
    color: inherit;
    font-weight: 700;
}

.black-link a:hover {
    color: inherit;
    text-decoration: none;
}

ul.search-list {
    border-radius: 0;
    color: #000000;

}

ul.message-list {
    border-radius: 0;
    height: calc(100vh - 205px);
    overflow-y:auto;
    /*overflow-x: hidden;*/
    padding-right: 15px;

}

li.active-item {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #00a0ff;
    color: white;
}

/*oval checkbox*/
.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

label.toggler{ /* Label "track" style */
    width: 3.5em; /* width of label */
    height: 1.75em; /* height of label */
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.15) ; /* default gray shadow */
    background: #000000; /* default tray background */
}

label.toggler::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: #00a0ff;
    position: absolute;
    top: 4px;
    left: 5px;
    cursor: pointer;
}

label.toggler.toggler-checked::before {
    left: calc(2.5em - 5px);
    background-color: #ffbdb8;
}

.order-first {
    order: -1;
}

.message-text {
    color: #000000;
    font-family: 'Karla', 'Roboto', 'Arial', sans-serif;
    font-size: 1em;
    margin-bottom: 0.5em;
    white-space: pre-wrap;
}

::-webkit-scrollbar {
    width: 12px;
    right: -5px;
}

::-webkit-scrollbar-track:vertical {

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
